<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gangster.cms.dao.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.gangster.cms.common.pojo.Article">
    <constructor>
      <idArg column="article_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="article_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_author" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_order" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="article_site_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="article_category_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="article_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="article_update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="article_thumb" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_hit" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="article_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="article_skin" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_in_homepage" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="article_release_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="article_release_status" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.gangster.cms.common.pojo.Article">
    <constructor>
      <idArg column="article_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="article_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_author" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_order" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="article_site_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="article_category_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="article_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="article_update_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="article_thumb" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_hit" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="article_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="article_skin" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="article_in_homepage" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="article_release_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="article_release_status" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="article_content" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    article_id, article_title, article_type, article_author, article_url, article_order, 
    article_site_id, article_category_id, article_create_time, article_update_time, article_thumb, 
    article_hit, article_desc, article_status, article_skin, article_in_homepage, article_release_time, 
    article_release_status
  </sql>
  <sql id="Blob_Column_List">
    article_content
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.gangster.cms.common.pojo.ArticleExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cms_article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.gangster.cms.common.pojo.ArticleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from cms_article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cms_article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cms_article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gangster.cms.common.pojo.ArticleExample">
    delete from cms_article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gangster.cms.common.pojo.Article">
    <selectKey keyProperty="articleId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_article (article_title, article_type, article_author, 
      article_url, article_order, article_site_id, 
      article_category_id, article_create_time, 
      article_update_time, article_thumb, article_hit, 
      article_desc, article_status, article_skin, 
      article_in_homepage, article_release_time, article_release_status, 
      article_content)
    values (#{articleTitle,jdbcType=VARCHAR}, #{articleType,jdbcType=VARCHAR}, #{articleAuthor,jdbcType=VARCHAR}, 
      #{articleUrl,jdbcType=VARCHAR}, #{articleOrder,jdbcType=INTEGER}, #{articleSiteId,jdbcType=INTEGER}, 
      #{articleCategoryId,jdbcType=INTEGER}, #{articleCreateTime,jdbcType=TIMESTAMP}, 
      #{articleUpdateTime,jdbcType=TIMESTAMP}, #{articleThumb,jdbcType=VARCHAR}, #{articleHit,jdbcType=INTEGER}, 
      #{articleDesc,jdbcType=VARCHAR}, #{articleStatus,jdbcType=INTEGER}, #{articleSkin,jdbcType=VARCHAR}, 
      #{articleInHomepage,jdbcType=BIT}, #{articleReleaseTime,jdbcType=TIMESTAMP}, #{articleReleaseStatus,jdbcType=BIT}, 
      #{articleContent,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gangster.cms.common.pojo.Article">
    <selectKey keyProperty="articleId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleType != null">
        article_type,
      </if>
      <if test="articleAuthor != null">
        article_author,
      </if>
      <if test="articleUrl != null">
        article_url,
      </if>
      <if test="articleOrder != null">
        article_order,
      </if>
      <if test="articleSiteId != null">
        article_site_id,
      </if>
      <if test="articleCategoryId != null">
        article_category_id,
      </if>
      <if test="articleCreateTime != null">
        article_create_time,
      </if>
      <if test="articleUpdateTime != null">
        article_update_time,
      </if>
      <if test="articleThumb != null">
        article_thumb,
      </if>
      <if test="articleHit != null">
        article_hit,
      </if>
      <if test="articleDesc != null">
        article_desc,
      </if>
      <if test="articleStatus != null">
        article_status,
      </if>
      <if test="articleSkin != null">
        article_skin,
      </if>
      <if test="articleInHomepage != null">
        article_in_homepage,
      </if>
      <if test="articleReleaseTime != null">
        article_release_time,
      </if>
      <if test="articleReleaseStatus != null">
        article_release_status,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleType != null">
        #{articleType,jdbcType=VARCHAR},
      </if>
      <if test="articleAuthor != null">
        #{articleAuthor,jdbcType=VARCHAR},
      </if>
      <if test="articleUrl != null">
        #{articleUrl,jdbcType=VARCHAR},
      </if>
      <if test="articleOrder != null">
        #{articleOrder,jdbcType=INTEGER},
      </if>
      <if test="articleSiteId != null">
        #{articleSiteId,jdbcType=INTEGER},
      </if>
      <if test="articleCategoryId != null">
        #{articleCategoryId,jdbcType=INTEGER},
      </if>
      <if test="articleCreateTime != null">
        #{articleCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleUpdateTime != null">
        #{articleUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleThumb != null">
        #{articleThumb,jdbcType=VARCHAR},
      </if>
      <if test="articleHit != null">
        #{articleHit,jdbcType=INTEGER},
      </if>
      <if test="articleDesc != null">
        #{articleDesc,jdbcType=VARCHAR},
      </if>
      <if test="articleStatus != null">
        #{articleStatus,jdbcType=INTEGER},
      </if>
      <if test="articleSkin != null">
        #{articleSkin,jdbcType=VARCHAR},
      </if>
      <if test="articleInHomepage != null">
        #{articleInHomepage,jdbcType=BIT},
      </if>
      <if test="articleReleaseTime != null">
        #{articleReleaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleReleaseStatus != null">
        #{articleReleaseStatus,jdbcType=BIT},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gangster.cms.common.pojo.ArticleExample" resultType="java.lang.Long">
    select count(*) from cms_article
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cms_article
    <set>
      <if test="record.articleId != null">
        article_id = #{record.articleId,jdbcType=INTEGER},
      </if>
      <if test="record.articleTitle != null">
        article_title = #{record.articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.articleType != null">
        article_type = #{record.articleType,jdbcType=VARCHAR},
      </if>
      <if test="record.articleAuthor != null">
        article_author = #{record.articleAuthor,jdbcType=VARCHAR},
      </if>
      <if test="record.articleUrl != null">
        article_url = #{record.articleUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.articleOrder != null">
        article_order = #{record.articleOrder,jdbcType=INTEGER},
      </if>
      <if test="record.articleSiteId != null">
        article_site_id = #{record.articleSiteId,jdbcType=INTEGER},
      </if>
      <if test="record.articleCategoryId != null">
        article_category_id = #{record.articleCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.articleCreateTime != null">
        article_create_time = #{record.articleCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.articleUpdateTime != null">
        article_update_time = #{record.articleUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.articleThumb != null">
        article_thumb = #{record.articleThumb,jdbcType=VARCHAR},
      </if>
      <if test="record.articleHit != null">
        article_hit = #{record.articleHit,jdbcType=INTEGER},
      </if>
      <if test="record.articleDesc != null">
        article_desc = #{record.articleDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.articleStatus != null">
        article_status = #{record.articleStatus,jdbcType=INTEGER},
      </if>
      <if test="record.articleSkin != null">
        article_skin = #{record.articleSkin,jdbcType=VARCHAR},
      </if>
      <if test="record.articleInHomepage != null">
        article_in_homepage = #{record.articleInHomepage,jdbcType=BIT},
      </if>
      <if test="record.articleReleaseTime != null">
        article_release_time = #{record.articleReleaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.articleReleaseStatus != null">
        article_release_status = #{record.articleReleaseStatus,jdbcType=BIT},
      </if>
      <if test="record.articleContent != null">
        article_content = #{record.articleContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update cms_article
    set article_id = #{record.articleId,jdbcType=INTEGER},
      article_title = #{record.articleTitle,jdbcType=VARCHAR},
      article_type = #{record.articleType,jdbcType=VARCHAR},
      article_author = #{record.articleAuthor,jdbcType=VARCHAR},
      article_url = #{record.articleUrl,jdbcType=VARCHAR},
      article_order = #{record.articleOrder,jdbcType=INTEGER},
      article_site_id = #{record.articleSiteId,jdbcType=INTEGER},
      article_category_id = #{record.articleCategoryId,jdbcType=INTEGER},
      article_create_time = #{record.articleCreateTime,jdbcType=TIMESTAMP},
      article_update_time = #{record.articleUpdateTime,jdbcType=TIMESTAMP},
      article_thumb = #{record.articleThumb,jdbcType=VARCHAR},
      article_hit = #{record.articleHit,jdbcType=INTEGER},
      article_desc = #{record.articleDesc,jdbcType=VARCHAR},
      article_status = #{record.articleStatus,jdbcType=INTEGER},
      article_skin = #{record.articleSkin,jdbcType=VARCHAR},
      article_in_homepage = #{record.articleInHomepage,jdbcType=BIT},
      article_release_time = #{record.articleReleaseTime,jdbcType=TIMESTAMP},
      article_release_status = #{record.articleReleaseStatus,jdbcType=BIT},
      article_content = #{record.articleContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cms_article
    set article_id = #{record.articleId,jdbcType=INTEGER},
      article_title = #{record.articleTitle,jdbcType=VARCHAR},
      article_type = #{record.articleType,jdbcType=VARCHAR},
      article_author = #{record.articleAuthor,jdbcType=VARCHAR},
      article_url = #{record.articleUrl,jdbcType=VARCHAR},
      article_order = #{record.articleOrder,jdbcType=INTEGER},
      article_site_id = #{record.articleSiteId,jdbcType=INTEGER},
      article_category_id = #{record.articleCategoryId,jdbcType=INTEGER},
      article_create_time = #{record.articleCreateTime,jdbcType=TIMESTAMP},
      article_update_time = #{record.articleUpdateTime,jdbcType=TIMESTAMP},
      article_thumb = #{record.articleThumb,jdbcType=VARCHAR},
      article_hit = #{record.articleHit,jdbcType=INTEGER},
      article_desc = #{record.articleDesc,jdbcType=VARCHAR},
      article_status = #{record.articleStatus,jdbcType=INTEGER},
      article_skin = #{record.articleSkin,jdbcType=VARCHAR},
      article_in_homepage = #{record.articleInHomepage,jdbcType=BIT},
      article_release_time = #{record.articleReleaseTime,jdbcType=TIMESTAMP},
      article_release_status = #{record.articleReleaseStatus,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gangster.cms.common.pojo.Article">
    update cms_article
    <set>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleType != null">
        article_type = #{articleType,jdbcType=VARCHAR},
      </if>
      <if test="articleAuthor != null">
        article_author = #{articleAuthor,jdbcType=VARCHAR},
      </if>
      <if test="articleUrl != null">
        article_url = #{articleUrl,jdbcType=VARCHAR},
      </if>
      <if test="articleOrder != null">
        article_order = #{articleOrder,jdbcType=INTEGER},
      </if>
      <if test="articleSiteId != null">
        article_site_id = #{articleSiteId,jdbcType=INTEGER},
      </if>
      <if test="articleCategoryId != null">
        article_category_id = #{articleCategoryId,jdbcType=INTEGER},
      </if>
      <if test="articleCreateTime != null">
        article_create_time = #{articleCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleUpdateTime != null">
        article_update_time = #{articleUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleThumb != null">
        article_thumb = #{articleThumb,jdbcType=VARCHAR},
      </if>
      <if test="articleHit != null">
        article_hit = #{articleHit,jdbcType=INTEGER},
      </if>
      <if test="articleDesc != null">
        article_desc = #{articleDesc,jdbcType=VARCHAR},
      </if>
      <if test="articleStatus != null">
        article_status = #{articleStatus,jdbcType=INTEGER},
      </if>
      <if test="articleSkin != null">
        article_skin = #{articleSkin,jdbcType=VARCHAR},
      </if>
      <if test="articleInHomepage != null">
        article_in_homepage = #{articleInHomepage,jdbcType=BIT},
      </if>
      <if test="articleReleaseTime != null">
        article_release_time = #{articleReleaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="articleReleaseStatus != null">
        article_release_status = #{articleReleaseStatus,jdbcType=BIT},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.gangster.cms.common.pojo.Article">
    update cms_article
    set article_title = #{articleTitle,jdbcType=VARCHAR},
      article_type = #{articleType,jdbcType=VARCHAR},
      article_author = #{articleAuthor,jdbcType=VARCHAR},
      article_url = #{articleUrl,jdbcType=VARCHAR},
      article_order = #{articleOrder,jdbcType=INTEGER},
      article_site_id = #{articleSiteId,jdbcType=INTEGER},
      article_category_id = #{articleCategoryId,jdbcType=INTEGER},
      article_create_time = #{articleCreateTime,jdbcType=TIMESTAMP},
      article_update_time = #{articleUpdateTime,jdbcType=TIMESTAMP},
      article_thumb = #{articleThumb,jdbcType=VARCHAR},
      article_hit = #{articleHit,jdbcType=INTEGER},
      article_desc = #{articleDesc,jdbcType=VARCHAR},
      article_status = #{articleStatus,jdbcType=INTEGER},
      article_skin = #{articleSkin,jdbcType=VARCHAR},
      article_in_homepage = #{articleInHomepage,jdbcType=BIT},
      article_release_time = #{articleReleaseTime,jdbcType=TIMESTAMP},
      article_release_status = #{articleReleaseStatus,jdbcType=BIT},
      article_content = #{articleContent,jdbcType=LONGVARCHAR}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gangster.cms.common.pojo.Article">
    update cms_article
    set article_title = #{articleTitle,jdbcType=VARCHAR},
      article_type = #{articleType,jdbcType=VARCHAR},
      article_author = #{articleAuthor,jdbcType=VARCHAR},
      article_url = #{articleUrl,jdbcType=VARCHAR},
      article_order = #{articleOrder,jdbcType=INTEGER},
      article_site_id = #{articleSiteId,jdbcType=INTEGER},
      article_category_id = #{articleCategoryId,jdbcType=INTEGER},
      article_create_time = #{articleCreateTime,jdbcType=TIMESTAMP},
      article_update_time = #{articleUpdateTime,jdbcType=TIMESTAMP},
      article_thumb = #{articleThumb,jdbcType=VARCHAR},
      article_hit = #{articleHit,jdbcType=INTEGER},
      article_desc = #{articleDesc,jdbcType=VARCHAR},
      article_status = #{articleStatus,jdbcType=INTEGER},
      article_skin = #{articleSkin,jdbcType=VARCHAR},
      article_in_homepage = #{articleInHomepage,jdbcType=BIT},
      article_release_time = #{articleReleaseTime,jdbcType=TIMESTAMP},
      article_release_status = #{articleReleaseStatus,jdbcType=BIT}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
</mapper>