<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gangster.cms.dao.mapper.ModuleMapper">
  <resultMap id="BaseResultMap" type="com.gangster.cms.common.pojo.Module">
    <constructor>
      <idArg column="module_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="module_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="module_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="module_parent_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="module_sort" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="module_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    module_id, module_name, module_url, module_parent_id, module_sort, module_create_time
  </sql>
  <select id="selectByExample" parameterType="com.gangster.cms.common.pojo.ModuleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from cms_module
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_module
    where module_id = #{moduleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cms_module
    where module_id = #{moduleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gangster.cms.common.pojo.ModuleExample">
    delete from cms_module
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gangster.cms.common.pojo.Module">
    <selectKey keyProperty="moduleId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_module (module_name, module_url, module_parent_id, 
      module_sort, module_create_time)
    values (#{moduleName,jdbcType=VARCHAR}, #{moduleUrl,jdbcType=VARCHAR}, #{moduleParentId,jdbcType=INTEGER}, 
      #{moduleSort,jdbcType=INTEGER}, #{moduleCreateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gangster.cms.common.pojo.Module">
    <selectKey keyProperty="moduleId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_module
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="moduleUrl != null">
        module_url,
      </if>
      <if test="moduleParentId != null">
        module_parent_id,
      </if>
      <if test="moduleSort != null">
        module_sort,
      </if>
      <if test="moduleCreateTime != null">
        module_create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleUrl != null">
        #{moduleUrl,jdbcType=VARCHAR},
      </if>
      <if test="moduleParentId != null">
        #{moduleParentId,jdbcType=INTEGER},
      </if>
      <if test="moduleSort != null">
        #{moduleSort,jdbcType=INTEGER},
      </if>
      <if test="moduleCreateTime != null">
        #{moduleCreateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gangster.cms.common.pojo.ModuleExample" resultType="java.lang.Long">
    select count(*) from cms_module
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cms_module
    <set>
      <if test="record.moduleId != null">
        module_id = #{record.moduleId,jdbcType=INTEGER},
      </if>
      <if test="record.moduleName != null">
        module_name = #{record.moduleName,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleUrl != null">
        module_url = #{record.moduleUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.moduleParentId != null">
        module_parent_id = #{record.moduleParentId,jdbcType=INTEGER},
      </if>
      <if test="record.moduleSort != null">
        module_sort = #{record.moduleSort,jdbcType=INTEGER},
      </if>
      <if test="record.moduleCreateTime != null">
        module_create_time = #{record.moduleCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cms_module
    set module_id = #{record.moduleId,jdbcType=INTEGER},
      module_name = #{record.moduleName,jdbcType=VARCHAR},
      module_url = #{record.moduleUrl,jdbcType=VARCHAR},
      module_parent_id = #{record.moduleParentId,jdbcType=INTEGER},
      module_sort = #{record.moduleSort,jdbcType=INTEGER},
      module_create_time = #{record.moduleCreateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gangster.cms.common.pojo.Module">
    update cms_module
    <set>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleUrl != null">
        module_url = #{moduleUrl,jdbcType=VARCHAR},
      </if>
      <if test="moduleParentId != null">
        module_parent_id = #{moduleParentId,jdbcType=INTEGER},
      </if>
      <if test="moduleSort != null">
        module_sort = #{moduleSort,jdbcType=INTEGER},
      </if>
      <if test="moduleCreateTime != null">
        module_create_time = #{moduleCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where module_id = #{moduleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gangster.cms.common.pojo.Module">
    update cms_module
    set module_name = #{moduleName,jdbcType=VARCHAR},
      module_url = #{moduleUrl,jdbcType=VARCHAR},
      module_parent_id = #{moduleParentId,jdbcType=INTEGER},
      module_sort = #{moduleSort,jdbcType=INTEGER},
      module_create_time = #{moduleCreateTime,jdbcType=TIMESTAMP}
    where module_id = #{moduleId,jdbcType=INTEGER}
  </update>
</mapper>