<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gangster.cms.dao.mapper.QuestionPageMapper">
  <resultMap id="BaseResultMap" type="com.gangster.cms.common.pojo.QuestionPage">
    <constructor>
      <idArg column="question_page_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="question_page_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="question_page_create_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="question_page_end_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    question_page_id, question_page_title, question_page_create_time, question_page_end_time
  </sql>
  <select id="selectByExample" parameterType="com.gangster.cms.common.pojo.QuestionPageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cms_question_page
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_question_page
    where question_page_id = #{questionPageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cms_question_page
    where question_page_id = #{questionPageId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gangster.cms.common.pojo.QuestionPageExample">
    delete from cms_question_page
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gangster.cms.common.pojo.QuestionPage">
    insert into cms_question_page (question_page_id, question_page_title, 
      question_page_create_time, question_page_end_time
      )
    values (#{questionPageId,jdbcType=INTEGER}, #{questionPageTitle,jdbcType=VARCHAR}, 
      #{questionPageCreateTime,jdbcType=TIMESTAMP}, #{questionPageEndTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gangster.cms.common.pojo.QuestionPage">
    insert into cms_question_page
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionPageId != null">
        question_page_id,
      </if>
      <if test="questionPageTitle != null">
        question_page_title,
      </if>
      <if test="questionPageCreateTime != null">
        question_page_create_time,
      </if>
      <if test="questionPageEndTime != null">
        question_page_end_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="questionPageId != null">
        #{questionPageId,jdbcType=INTEGER},
      </if>
      <if test="questionPageTitle != null">
        #{questionPageTitle,jdbcType=VARCHAR},
      </if>
      <if test="questionPageCreateTime != null">
        #{questionPageCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="questionPageEndTime != null">
        #{questionPageEndTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gangster.cms.common.pojo.QuestionPageExample" resultType="java.lang.Long">
    select count(*) from cms_question_page
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cms_question_page
    <set>
      <if test="record.questionPageId != null">
        question_page_id = #{record.questionPageId,jdbcType=INTEGER},
      </if>
      <if test="record.questionPageTitle != null">
        question_page_title = #{record.questionPageTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.questionPageCreateTime != null">
        question_page_create_time = #{record.questionPageCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.questionPageEndTime != null">
        question_page_end_time = #{record.questionPageEndTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cms_question_page
    set question_page_id = #{record.questionPageId,jdbcType=INTEGER},
      question_page_title = #{record.questionPageTitle,jdbcType=VARCHAR},
      question_page_create_time = #{record.questionPageCreateTime,jdbcType=TIMESTAMP},
      question_page_end_time = #{record.questionPageEndTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gangster.cms.common.pojo.QuestionPage">
    update cms_question_page
    <set>
      <if test="questionPageTitle != null">
        question_page_title = #{questionPageTitle,jdbcType=VARCHAR},
      </if>
      <if test="questionPageCreateTime != null">
        question_page_create_time = #{questionPageCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="questionPageEndTime != null">
        question_page_end_time = #{questionPageEndTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where question_page_id = #{questionPageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gangster.cms.common.pojo.QuestionPage">
    update cms_question_page
    set question_page_title = #{questionPageTitle,jdbcType=VARCHAR},
      question_page_create_time = #{questionPageCreateTime,jdbcType=TIMESTAMP},
      question_page_end_time = #{questionPageEndTime,jdbcType=TIMESTAMP}
    where question_page_id = #{questionPageId,jdbcType=INTEGER}
  </update>
</mapper>