input {
    jdbc {
        jdbc_driver_library => "/home/bigmeng/bin/logstash-6.2.4/lib/mysql/mysql-connector-java-6.0.6.jar"
        jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
        jdbc_connection_string => "jdbc:mysql://db_server:3306/db_cms?useSSL=false"
        jdbc_user => "root"
        jdbc_password => "$%^YGR^&UHGT^&U"
        schedule => "* * * * *"
        lowercase_column_names => false
        jdbc_default_timezone => "Asia/Shanghai"
        #statement => "SELECT * FROM cms_article;"
        statement_filepath => "/home/bigmeng/bin/logstash-6.2.4/config/article.sql"
    }
}
output {
    elasticsearch {
        index => "article"
        document_type => "articlemodel"
        document_id => "%{articleId}"
        template_overwrite => true
        template => "/home/bigmeng/bin/logstash-6.2.4/config/template_ik.json"
        hosts => ["localhost:9200"]
    }
}
