input {
    jdbc {
        jdbc_driver_library => "/usr/share/logstash/data/mysql/mysql-connector-java-${MYSQL_JDBC_VERSION}.jar"
        jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
        jdbc_connection_string => "jdbc:mysql://${DB_SERVER:db_server}:${DB_PORT:3306}/db_cms?useSSL=false"
        jdbc_user => "{DB_USER:root}"
        jdbc_password => "${DB_PASSWORD:$%^YGR^&UHGT^&U}"
        schedule => "5 * * * *"
        lowercase_column_names => false
        jdbc_default_timezone => "Asia/Shanghai"
        statement_filepath => "/usr/share/logstash/data/article.sql"
    }
}
output {
    elasticsearch {
        index => "article"
        document_type => "articlemodel"
        document_id => "%{articleId}"
        template_overwrite => true
        template => "/usr/share/logstash/data/template_ik.json"
        hosts => ["${ES_SERVER:localhost}:${ES_PORT:9200}"]
    }
}
